:root {
  --bg-color: rgb(226, 245, 255);
  --fg-color: rgb(10, 20, 40)
}

.App {
  text-align: center;
}

.dark button{
  background-color: var(--fg-color);
  color: var(--bg-color)
}

.light button {
  background-color: var(--bg-color);
  color: var(--fg-color);
  text-decoration: none;
}

a {
  text-decoration: none;
}

.light a {
  color: var(--fg-color);
}

.dark a {
  color: var(--bg-color)
}