.App {
  text-align: center;
}

.dark button{
  background-color: black;
  color: white
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2000ms linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
