:root {
  --main-color: rgb(226, 245, 255);
  --second-color: rgb(10, 20, 40);
  --highlight-color: rgb(100, 20, 100);
  --var-color: rgb(100, 100, 20);
  --small-padding: 10px;
}
header {
  background-color: var(--main-color);
  color: var(--second-color);
  padding: var(--small-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s ease;
}

#titleBlock {
  min-width: 300px;
  flex-grow: 1;
}

#headerButtons {
  flex-grow: 2;
}

a,
button,
input[type='submit'],
input[type='reset'] {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.headerBtn{
  margin: var(--small-padding);
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
  transition: 200ms;
}

.headerBtn:hover{
  color: var(--main-color);
  background-color: var(--second-color);
}

header .selected,
header .selected:hover
{
  background-color: var(--highlight-color);
  color: var(--main-color);
  transition: 250ms;
}

.dropDown{
  min-width: 30%;
  position: absolute;
  top: 9rem;
  left: 70%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  z-index: 2;
}

.dropDownBtn{
  margin: var(--small-padding), 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
  transition: 200ms;
  text-align: left;
}

svg {
  /* fill: rgb(200, 100, 200); */
  width: 2.4rem;
  margin: 20px;
}

.projectCard {
  background-color: var(--second-color);
  color: var(--main-color);
  padding: var(--small-padding);
}




.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

